.env
.env.*
!.env.example

myenv/
env/
venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

db.sqlite3
db.sqlite3.backup
*.sqlite3
!data-migration.json

media/
public/media/
staticfiles/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.DS_Store
Thumbs.db

.idea/
.vscode/
